
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nazmiye KURBAN<br />
        Yönetim Bilişim Sistemleri<br />
        Bayburt <br />
        <abbr title="Phone">Telefon:</abbr>
        555 555 55 55
    </address>

    <address>
        <strong>E-Mail:</strong>   <a href="mailto:nazmiye.kurban0069@gmail.com">nazmiye.kurban0069@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:nazmiye.kurban0069@gmail.com">nazmiye.kurban0069@gmail.com</a>
    </address>
</main>