@using MvcStok.Models.Entity;
@model List<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
    </tr>
    <tbody>
        @foreach (var kategori in Model)
        {
            <tr>
                <th>@kategori.KATEGORIID</th>
                <td>@kategori.KATEGORIAD</td>
            </tr>
        }
    </tbody>   
</table>