
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <br />
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <br />
    <div>
        <button class="btn btn-info">Müşteri Ekle</button>    
    </div>
</form>
